.partners {

  // .partners__inner

  &__inner {}

  // .partners__list

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
    row-gap: 40px;
    flex-wrap: wrap;

    @media (max-width: $breakpoint992) {
      column-gap: 32px;
      row-gap: 16px;
    }
  }

  // .partners__item

  &__item {


    @media (max-width: $breakpoint768) {
      flex: 0 1 40%;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}