.start {
  position: relative;
  min-height: 1080px;
  margin-top: -116px;
  padding-top: 320px;
  background-image: url('../img/start/start-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  // overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 90%;
    left: -200px;
    width: calc(100% + 200px);
    height: 250px;
    filter: blur(50px);
    background: linear-gradient(90deg, #0d0b0a 0%, #06060a 29.31%, #08070b 47.4%, #08070c 60.7%, #07070d 100%);

    @media (max-width: $breakpoint1450) {
      height: 180px;
    }

    @media (max-width: 1200px) {
      height: 150px;
    }

    @media (max-width: $breakpoint992) {
      height: 100px;
      top: 90%;
    }

    @media (max-width: $breakpoint768) {
      top: 98%;
      height: 40px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(150deg, #565865 0%, #2f3235 35.01%, #2c2f32 36.73%, #17181e 52.61%, #0a0b12 67.66%, #06060e 80.9%);
    // background-image: url('../img/start/bg-decor.svg');
    // background-repeat: no-repeat;
    // background-size: contain;
    z-index: -1;
  }


  @media (max-width: $breakpoint1450) {
    min-height: 960px;
  }


  @media (max-width: 1200px) {
    min-height: 860px;
  }

  @media (max-width: $breakpoint992) {
    padding-top: 200px;
    padding-bottom: 60px;
    background-position: bottom;
  }

  @media (max-width: $breakpoint768) {
    margin-top: -80px;
    padding: 100px 0 40px;
  }


  // .start__inner

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 10%;
      width: 830px;
      height: 830px;
      background-image: url('../img/start/circle-left.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }


    &::before {
      content: '';
      position: absolute;
      left: 20%;
      top: 0;
      width: 720px;
      height: 720px;
      background-image: url('../img/start/circle-top.svg');
      background-repeat: no-repeat;
      background-size: cover;

      @media (max-width: $breakpoint992) {
        top: 3%;
        width: 400px;
        height: 400px;
      }

      @media (max-width: $breakpoint768) {
        top: 0;
      }
    }


    @media (max-width: $breakpoint992) {
      flex-direction: column;
      row-gap: 40px;
    }

  }

  // .start__column

  &__column {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }

  // .start__title

  &__title {
    max-width: 800px;
    margin-bottom: 40px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 72px;
    line-height: 115%;
    color: var(--base-white);


    @media (max-width: $breakpoint1450) {
      max-width: 600px;
      font-size: 50px;
    }

    @media (max-width: $breakpoint992) {
      margin-bottom: 30px;
      font-size: 40px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 28px;
    }
  }

  // .start__text

  &__text {
    max-width: 720px;
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: var(--base-white);

    @media (max-width: $breakpoint992) {
      margin-bottom: 30px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }

  // .start__btn

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    width: fit-content;
    min-width: 240px;
    padding: 24px;
    border-radius: 500px;
    background-color: var(--main-yellow);
    border: 1px solid transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: var(--base-black);
    transition: 0.2s linear;

    img {
      margin-top: -4px;
      width: 20px;
      height: 20px;
      object-fit: cover;
      transition: transform 0.4s linear, filter 0.1s linear;
    }

    @media (hover: hover) {
      &:hover {
        border-color: var(--main-yellow);
        background-color: transparent;
        color: var(--main-yellow);

        img {
          transform: translateX(6px);
          filter: brightness(0) saturate(100%) invert(83%) sepia(96%) saturate(1134%) hue-rotate(328deg) brightness(103%) contrast(100%);
        }
      }
    }

    @media (max-width: $breakpoint768) {
      width: 100%;
    }
  }

  // .start__logos

  &__logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 20px;
    column-gap: 30px;
    max-width: 720px;
    margin-top: 140px;

    @media (max-width: $breakpoint992) {
      margin-top: 60px;
    }

  }

  // .start__logos-label

  &__logos-label {
    flex: 0 1 100%;
    font-size: 14px;
    line-height: 130%;
    color: var(--base-white);
  }

  // .start__logo

  &__logo {

    img {
      transition: 0.05s linear;
    }
  }

  a.start__logo {
    @media (hover: hover) {
      &:hover {
        img {
          filter: brightness(0) saturate(100%) invert(83%) sepia(96%) saturate(1134%) hue-rotate(328deg) brightness(103%) contrast(100%);
        }
      }
    }
  }

  // .start__total

  &__total {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 480px;
    min-height: 576px;
    row-gap: 20px;
    padding: 70px 30px;
    background-image: url('../img/start/total-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: $breakpoint768) {
      min-width: 0;
      min-height: 420px;
      width: 100%;
      height: 100%;
      padding: 40px 20px;
    }
  }

  // .start__total-header

  &__total-header {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    justify-content: center;
  }

  // .start__total-label

  &__total-label {
    font-family: var(--second-family);
    font-weight: 200;
    font-size: 28px;
    line-height: 115%;
    text-align: center;
    color: var(--base-white);

    @media (max-width: $breakpoint768) {
      font-size: 20px;
    }
  }

  // .start__total-sum

  &__total-sum {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    text-align: center;
    color: var(--base-white);

    @media (max-width: $breakpoint768) {
      font-size: 28px;
    }
  }

  // .start__total-footer

  &__total-footer {
    display: flex;
    align-items: center;
    max-width: 240px;
    margin-left: auto;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;

    @media (max-width: $breakpoint768) {
      column-gap: 20px;
      width: 100%;
      max-width: 100%;
      margin-left: 40px;
    }
  }

  // .start__total-item

  &__total-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
  }

  a.start__total-item {
    @media (hover: hover) {
      &:hover {

        .start__total-text {
          text-decoration: underline;
        }
      }
    }
  }

  // .start__total-info

  &__total-info {}

  // .start__total-text

  &__total-text {
    font-weight: 300;
    font-size: 11px;
    line-height: 100%;
    color: #7d7a58;

    b {
      font-weight: 700;
      font-size: 12px;
      line-height: 100%;
      color: #7d7a58;
    }
  }

  // .start__solana

  &__solana {
    position: absolute;
    top: 0;
    right: -100px;
    z-index: -1;

    @media (max-width: $breakpoint768) {
      right: -40px;
      top: -80px;
      width: 120px;
      height: 120px;
    }
  }

  // .start__ethereum

  &__ethereum {
    position: absolute;
    left: -70%;
    bottom: -50%;
    transform: translate(50%, -50%);

    @media (max-width: 1200px) {
      width: 200px;
      height: 200px;
      left: -40%;
      bottom: -30%;
    }

    @media (max-width: $breakpoint992) {
      left: -120px;
      bottom: -40px;
      transform: translate(0, 0);
    }

    @media (max-width: $breakpoint768) {
      width: 80px;
      height: 80px;
      bottom: -20px;
      left: -20px;
    }
  }
}